@use "../variables" as *;
// @import "../variables.scss";

.accordion-item {
        border-radius: $valors-tags-radius;
        overflow: hidden;

        .accordion-header {
            background-color: $main-color;
            color: $wht-color;
            padding: 10px;
            width: 100%;
            text-align: left;
            border: none;
            font-size: 24px;
            font-weight: bold;
            cursor: pointer;
            outline: none;
            display: flex;
            justify-content: space-between;
            align-items: center;
            transition: background-color 0.3s ease;
            position: relative;
            z-index: 4;

            @media (max-width: 768px) {
                font-size: 13px;
                padding: 10px;
            }

            .arrow {
                width: 24px;
                transition: transform 0.3s ease;

                &.open {
                    transform: rotate(180deg);
                }

                @media (max-width: 768px) {
                    width: 16px;
                }
            }
        }

        .accordion-content {
            padding: 15px;
            font-size: 16px;
            background-color: $rental-bg-color;
            animation: expandContent 0.5s ease-in-out forwards;

            @media (max-width: 768px) {
                font-size: 12px;
            }
        }
    }
