@use "../variables" as *;
// @import "../variables.scss";

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 209px;
    background-color: $blck-color;
    color: $wht-color;
    font-size: 24px;

    @media (max-width: 768px) {
        font-size: 12px;
      }

    &-text {
        margin-top: 40px;
        text-align: center;

        @media (max-width: 768px) {
            margin-top: 20px;
        }
    }

    .footer-line-break {
        @media (max-width: 768px) {
            display: block;       
        }
      }
}