@use "../variables" as *;
// @import "../variables.scss";

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 45px 0;
  margin: 0 auto;

  @media (max-width: 768px) {
    padding: 20px 0;
  }

  .logo {
    font-size: 24px;

    @media (max-width: 768px) {
      width: 145px;
    }
  }

  .nav-links {
    list-style: none;
    display: flex;
    gap: 50px;

    @media (max-width: 768px) {
      gap: 20px;
    }

    li {
      display: inline;

      a {
        text-decoration: none;
        font-size: 24px;
        color: $blck-color;

        &:hover {
          color: $main-color;
        }

        &.active {
          text-decoration: underline;
        }

        @media (max-width: 768px) {
          font-size: 12px;
          text-transform: uppercase;
        }
      }
    }
  }
}