// VARIABLES
$font-main : "Montserrat", sans-serif;

$blck-color: #000000;
$wht-color: #ffffff;
$main-color: #FF6060;

$rental-bg-color: #F6F6F6;

$rental-card-radius: 20px;
$rental-card-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

// MIXINS
@mixin font-width-medium {
    font-weight: 500;
}

@mixin font-width-bold {
    font-weight: 700;
}

