@use "variables.scss" as *;
@use "components/navbar";
@use "components/banner";
@use "components/rentalGrid";
@use "components/footer";
@use "components/accordion";
@use "components/page404";
@use "components/slideshow";
@use "components/mainComponentRent";
@use "components/locationTags";
@use "components/hostRating";
@use "components/valors";
@use "components/infoRental";


* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    font-family: $font-main;
    box-sizing: border-box;
}

.optimal-width {
    width: 100%;
    max-width: 1240px;
    box-sizing: border-box;
    padding: 0 20px;
    margin: 0 auto;
}