@use "variables.scss" as *;
@use "components/navbar";
@use "components/banner";
@use "components/rentalGrid";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 1240px;
    font-family: $font-main;
    margin: 0 auto;
}